.hello {

	// .hello__video-bg

	&__video-bg{
		max-height: 100vh;
		overflow: hidden;
		position: relative;

		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.65);
		}
	}

	// .hello__video-block

	&__video-block {
		position: relative;
		z-index: 1;
		padding-bottom: 56.25%;

		@media (max-width: 767px) {
			height: 300px;
			background-image: url(../img/bg-image.png);
			background-size: cover;
			background-position: center;
		}
	}

	// .hello__video

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		@media (max-width: 767px) {
			display: none;
		}
	}

	// .hello__content

	&__content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}

	// .hello__container

	&__container {
		font-family: Roboto;

		max-width: 1310px;
		margin: 0 auto;
		padding: 100px 15px 50px 15px;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		color: #fff;
	}

	// .hello__text-block

	&__text-block {
		flex: 1 1 auto;
	}

	// .hello__subtitle

	&__subtitle {
		position: relative;
		color: rgb(184, 184, 184);
		font-size: 38px;
		line-height: 200%;

		&::before{
			content: "";
			position: absolute;
			top: 20px;
			left: -20px;
			width: 15px;
			height: 2px;
			background-color: aliceblue;
		}

			@media (max-width: 1023px) {
				font-size: 32px;

				&::before{
					top: 15px;
				}
			}
			@media (max-width: 920px) {
				font-size: 28px;
			}
			@media (max-width: 767px) {
				font-size: 18px;

				&::before{
					top: 10px;
				}
			}
			@media (max-width: 425px) {
				font-size: 12px;

				&::before{
					top: 5px;
					width: 10px;
					left: -15px;
				}
			}
	}
	// .hello__title

	&__title {
		font-size: 48px;
		color: aliceblue;
		line-height: 150%;
		margin-bottom: 15px;

		span{
			font-weight: 700;
			animation-name: color-change;
			animation-iteration-count: infinite;
			animation-duration: 10s;
			animation-timing-function: linear;
		}


		@media (max-width: 920px) {
			font-size: 42px;
		}
		@media (max-width: 1023px) {
			font-size: 38px;
		}
		@media (max-width: 767px) {
			font-size: 24px;
		}
		@media (max-width: 425px) {
			font-size: 14px;
		}
	}
	// .hello__contact-block

	&__contact-block {
	}
}

.typed-cursor {
	color: aliceblue;
	font-size: 48px;

	@media (max-width: 920px) {
		font-size: 42px;
	}
	@media (max-width: 1023px) {
		font-size: 38px;
	}
	@media (max-width: 767px) {
		font-size: 24px;
	}
	@media (max-width: 425px) {
		font-size: 14px;
	}
}